@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}
.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}
.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  width: 145px;
  height: 145px;
}
.hold {
  border: 3px solid red;
}
.hovered {
  background-color: black;
  border-color: rgb(32, 230, 32);
  border-style: dashed;
}
@media (max-width: 480px) {
  body {
    flex-direction: column;
  }
}
